* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('bus3.jpeg'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    margin: 0;
}

.container {
    background-color: #dfdfdf;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);

}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: green;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-size: 16px;
}

select {
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #28a745;
}
